<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container" style="margin-top: 50px;">
    </div>
    <div class="container" style="text-align:left;">
        <p class="btn btn-primary">Fill Medical Details :</p>
    </div>
    <table class="table table-borderless container d-flex justify-content-around">
        <form action="/fillMedicalDetails" method="post">
            <tbody>
                <tr>
                    <td>
                        <h4>Unique ID:</h4>
                        <p>
                            <%= uniqueId %>
                        </p>
                        <input hidden type="text" value="<%= uniqueId %>" name="to_address">
                    </td>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="tpaName">TPA name :</label>
                            <input type="text" value="" name="tpaName" id="tpaName">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="tpaId">TPA Id :</label>
                            <input type="text" value="" name="tpaId" id="tpaId">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="insuredCode">Insured Code :</label>
                            <input type="text" value="" name="insuredCode" id="insuredCode">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="insuredName">Insured Name :</label>
                            <input type="text" value="" name="insuredName" id="insuredName">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="prevPolicyNo">Previous Policiy Number :</label>
                            <input type="text" value="" name="prevPolicyNo" id="prevPolicyNo">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="mediclaimCpny">Mediclaim Company Name :</label>
                            <input type="text" value="" name="mediclaimCpny" id="mediclaimCpny">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="insurance">Insurance :</label>
                            <input type="text" value="" name="insurance" id="insurance">
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <label for="bloodGrp">Bloodgroup : </label>
                            <select name="bloodGrp" id="bloodGrp">
                                <option value="A+">A +ve</option>
                                <option value="A-">A -ve</option>
                                <option value="B+" selected>B +ve</option>
                                <option value="B-">B -ve</option>
                                <option value="AB+">AB +ve</option>
                                <option value="AB-">AB -ve</option>
                                <option value="O+">O +ve</option>
                                <option value="O-">O -ve </option>
                            </select>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td>
                            <H5>PLEASE CONFIRM</H5>
                            <label for="detailsConfirmation"> Have you added the details correctly?</label>
                            <select name="myGovernmentdetails" id="detailsConfirmation">
                                <option value="YES">YES</option>
                                <option value="NO" Selected>NO </option>
                            </select>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="button">
                        <td>
                            <input class="btn btn-primary" style="text-align:right" type="submit" value="Submit">
                            <input class="btn btn-primary" type="reset" value="Reset">
                        </td>
                    </div>
                </tr>
            </tbody>
        </form>
    </table>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>