
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../../partials/header'); %>
    </header>

    <div class="container" style="margin-top: 50px;">
    </div>
    <div class="container" style="text-align:left;">
        <p class="btn btn-primary">Fill Birth Details :</p> 
    </div>
    <table class="table table-borderless container d-flex justify-content-around">
        <form action="/fillBirthDetails" method="post">
        <tbody>
            <tr>
                <td>
                    <h4>Unique ID:</h4>
                    <p><%= uniqueId %></p> 
                    <input hidden type="text" value="<%= uniqueId %>" name="to_address">
                </td>
            </tr>
            <tr>
                <div>
                    <td>
                        <label for="name">Name :</label>
                        <input type="text" value="" name="name" id="name">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td> 
                        <label for="sex">Sex :</label>
                        <input type="text" value="" name="sex" id="sex">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td>
                        <label for="dateOfBirth">Date of Birth :</label>
                        <input type="text" value="" name="dateOfBirth" id="dateOfBirth">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td> 
                        <label for="placeOfBirth">Place of Birth :</label>
                        <input type="text" value="" name="placeOfBirth" id="placeOfBirth">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td> 
                        <label for="nameOfFather">Father's Name :</label>
                        <input type="text" value="" name="nameOfFather" id="nameOfFather">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td> 
                        <label for="nameOfMother">Mother's Name :</label>
                        <input type="text" value="" name="nameOfMother" id="nameOfMother">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td> 
                        <label for="dateOfRegistration">Date of Registration :</label>
                        <input type="text" value="" name="dateOfRegistration" id="dateOfRegistration">
                    </td>
                </div>
            </tr>
            <tr>
                <div>
                    <td>
                        <H5>PLEASE CONFIRM</H5>
                        <label for="detailsConfirmation"> Have you added the details correctly?</label>
                        <select name="myGovernmentdetails" id="detailsConfirmation">
                            <option value="YES">YES</option>
                            <option value="NO" Selected>NO </option>
                        </select>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="button">
                    <td> 
                        <input class="btn btn-primary" style="text-align:right" type="submit" value="Submit">
                        <input class="btn btn-primary" type="reset" value="Reset">
                    </td>
                </div>
            </tr>
        </tbody>
    </form>
    </table>

    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>